 .u-section-1 {
  background-image: url("images/Kosmo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 536px 112px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 52px;
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 23px;
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 541px;
    margin-left: 26px;
    margin-right: 26px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1578px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 658px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 235px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 9px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 658px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 235px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 10px 19px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 658px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 235px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 20px 17px 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 6px 15px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 20px 16px 0;
}

.u-section-2 .u-text-11 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 6px 16px 0 14px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 17px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 12px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-2 .u-image-1 {
    height: 194px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-2 .u-image-2 {
    height: 194px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 626px;
  }

  .u-section-2 .u-image-3 {
    height: 194px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 549px;
  }

  .u-section-2 .u-image-4 {
    height: 202px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 549px;
  }

  .u-section-2 .u-image-5 {
    height: 202px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 549px;
  }

  .u-section-2 .u-image-6 {
    height: 202px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1581px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-2 .u-image-1 {
    height: 149px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-2 .u-image-2 {
    height: 149px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 630px;
  }

  .u-section-2 .u-image-3 {
    height: 149px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 61px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 705px;
  }

  .u-section-2 .u-image-4 {
    height: 155px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 705px;
  }

  .u-section-2 .u-image-5 {
    height: 155px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 1px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 705px;
  }

  .u-section-2 .u-image-6 {
    height: 155px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1738px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-2 .u-image-1 {
    height: 335px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-2 .u-image-2 {
    height: 335px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 574px;
  }

  .u-section-2 .u-image-3 {
    height: 335px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 532px;
  }

  .u-section-2 .u-image-4 {
    height: 349px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 558px;
  }

  .u-section-2 .u-image-5 {
    height: 349px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    height: 349px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-2 .u-image-1 {
    height: 211px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-2 .u-image-2 {
    height: 211px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 502px;
  }

  .u-section-2 .u-image-3 {
    height: 211px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 220px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    height: 220px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 220px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 482px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0;
}

.u-section-3 .u-form-1 {
  height: 372px;
  width: 960px;
  margin: 29px auto 60px;
}

.u-section-3 .u-input-1 {
  text-transform: uppercase;
}

.u-section-3 .u-input-2 {
  text-transform: uppercase;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-input-3 {
  text-transform: uppercase;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}