 .u-section-1 {
  background-image: url("images/Kosmo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 536px 112px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 52px;
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 23px;
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 541px;
    margin-left: 26px;
    margin-right: 26px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1454px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 81px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 246px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 31px 29px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 247px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 32px 135px 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 239px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 49px 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 239px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0 45px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px auto 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 21px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 449px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  height: 238px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px -3px 0 auto;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 454px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0 11px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 454px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-image-9 {
  height: 235px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-2 .u-image-1 {
    height: 204px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: -5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-2 .u-image-2 {
    height: 203px;
    width: 299px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-2 .u-image-3 {
    height: 203px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 333px;
  }

  .u-section-2 .u-image-4 {
    height: 197px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 333px;
  }

  .u-section-2 .u-image-5 {
    height: 197px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 333px;
  }

  .u-section-2 .u-image-6 {
    height: 195px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 351px;
  }

  .u-section-2 .u-image-7 {
    height: 196px;
    width: 304px;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 351px;
  }

  .u-section-2 .u-image-8 {
    height: 196px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 15px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 351px;
  }

  .u-section-2 .u-image-9 {
    height: 194px;
    width: 304px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-2 .u-image-1 {
    height: 156px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 12px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-2 .u-image-3 {
    height: 155px;
    margin-top: 2px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 14px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 282px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 151px;
    width: 229px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 19px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 282px;
  }

  .u-section-2 .u-image-5 {
    height: 151px;
    width: 229px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 282px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 149px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-bottom: 37px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 296px;
  }

  .u-section-2 .u-image-7 {
    height: 149px;
    width: 231px;
    margin-top: 0;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-right: auto;
    margin-left: -4px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 296px;
  }

  .u-section-2 .u-image-8 {
    height: 150px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-right: -11px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 296px;
  }

  .u-section-2 .u-image-9 {
    height: 147px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4094px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-2 .u-image-1 {
    height: 351px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-2 .u-image-2 {
    height: 344px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 595px;
  }

  .u-section-2 .u-image-3 {
    height: 349px;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 24px;
    margin-right: 230px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -127px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 448px;
  }

  .u-section-2 .u-image-4 {
    height: 334px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 24px;
    margin-right: 161px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 410px;
  }

  .u-section-2 .u-image-5 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    height: 250px;
    margin-top: -7px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 24px;
    margin-right: 158px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 443px;
  }

  .u-section-2 .u-image-7 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 438px;
  }

  .u-section-2 .u-image-8 {
    height: 338px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 526px;
  }

  .u-section-2 .u-image-9 {
    height: 331px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3038px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-image-1 {
    height: 221px;
    margin-top: -34px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-2 .u-image-2 {
    height: 217px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-2 .u-image-3 {
    height: 220px;
  }

  .u-section-2 .u-text-4 {
    margin: 31px auto -47px 124px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -19px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 532px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 210px;
    margin-top: 87px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-2 .u-image-5 {
    height: 184px;
    margin-top: -108px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 266px;
  }

  .u-section-2 .u-image-6 {
    height: 157px;
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -79px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 413px;
  }

  .u-section-2 .u-image-7 {
    height: 215px;
    margin-top: 88px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-top: 24px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 326px;
  }

  .u-section-2 .u-image-8 {
    height: 213px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 14px;
    margin-left: 14px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 331px;
  }

  .u-section-2 .u-image-9 {
    height: 208px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 24px;
  }
}